name: flutter_radar
description: Flutter package for Radar, the leading geofencing and location tracking platform
version: 3.9.0
homepage: https://github.com/radarlabs/flutter-radar

environment:
  sdk: '>=2.12.0 <3.0.0'
  flutter: ">=1.20.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  plugin:
    platforms:
      android:
        package: io.radar.flutter
        pluginClass: RadarFlutterPlugin
      ios:
        pluginClass: RadarFlutterPlugin
